extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 My Home page
            p.lead
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic et alias harum reprehenderit ullam? Cum dolor inventore aliquam maiores sunt saepe, minus beatae, asperiores molestias doloribus ipsum? Quibusdam, iusto?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa doloribus cumque neque sint, laudantium explicabo laboriosam dolor eaque culpa, optio, soluta quos. Expedita deserunt facilis architecto laborum sit, cum consequatur!