extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 My Services
            p.lead
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde vero porro doloribus cum explicabo suscipit tempora, voluptate debitis at amet quae architecto assumenda officia repellendus dicta. Labore, facilis nam.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus dolores, officiis sed architecto ipsum saepe non minima veritatis inventore est laboriosam quo temporibus omnis, fugit cumque delectus nobis, in culpa?